

 /*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600;700&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600;700&family=Kaushan+Script&family=Oswald&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --color-red: #ec1840;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}
html {
  font-size: 100%;
}
body {
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #191714 35%);  
}
section {
    height: 100vh;
}

/*home section*/
.home {
    background-color: #2234ae;
    background-image: linear-gradient(75deg, #2234ae 0%, #191714 60%);
    animation: home 2s forwards;
    transition: opacity 2s ease-in;
}
@keyframes home {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
.welcome {
  width: 100%;

    h3, h1 {
        font-family: 'Kaushan', sans-serif;
    }
}
.welcome h1 {
  font-size: 2rem;
}
.welcome .wel {
  font-size: 1.7rem;
}
.wel {
  font-family: 'Oswald', sans-serif;
    animation: welcome 3s forwards;
    transform: rotate(-180deg);
}

@keyframes welcome {
    0% {
        opacity: 0;
        transform: rotate(-180deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.irfan-img img {
    opacity: 0.2;
    height: auto;
    animation: image 3s forwards;
    left: 65%;
    display: none;
}

@keyframes image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.wd {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    color: black;
    display: none;
}

.welcome .col-md-6 {
  margin-top: 2rem;
  width: 100%;
}
.about-head {
  font-family: 'Oswald', sans-serif;
  font-size: 2.3rem;
  color: gold;
}
.about-desc {
  font-family: 'Oswald', 'Kaushan', sans-serif;
  font-size: 1.2rem;
  color: white;
}
.more-btn {
  font-family: 'Oswald', 'Kaushan', sans-serif;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  font-size: 2rem;
  background-image: linear-gradient(to right, #240d3b 30%, #7b1414 100%);
}

.about .btn {

  background: linear-gradient(to right, #6a0101 30%, #0d0830 100%);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.welcome h3 {
  color: black;
}
.welcome h1 {
  font-size: 2.3rem;
}
.glitch {
  position: relative;
  color: white;
  letter-spacing: 0.1rem;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: -1.5px;
  left: 17px;
  width: 100%;
  height: 100%;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: -1.5px;
  left: 17px;
  width: 100%;
  height: 100%;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  .0% {
    clip: rect(61px, 9999px, 57px, 0);
    transform: skew(0.66deg);
  }
  .5% {
    clip: rect(90px, 9999px, 13px, 0);
    transform: skew(0.02deg);
  }
  .10% {
    clip: rect(3px, 9999px, 75px, 0);
    transform: skew(0.88deg);
  }
  .15% {
    clip: rect(72px, 9999px, 60px, 0);
    transform: skew(0.46deg);
  }
  .20% {
    clip: rect(21px, 9999px, 28px, 0);
    transform: skew(0.35deg);
  }
  .25% {
    clip: rect(13px, 9999px, 12px, 0);
    transform: skew(0.12deg);
  }
  .30% {
    clip: rect(42px, 9999px, 1px, 0);
    transform: skew(0.02deg);
  }
  .35% {
    clip: rect(67px, 9999px, 61px, 0);
    transform: skew(0.77deg);
  }
  .40% {
    clip: rect(71px, 9999px, 31px, 0);
    transform: skew(0.32deg);
  }
  .45% {
    clip: rect(69px, 9999px, 60px, 0);
    transform: skew(0.08deg);
  }
  .50% {
    clip: rect(21px, 9999px, 4px, 0);
    transform: skew(0.88deg);
  }
  .55% {
    clip: rect(61px, 9999px, 54px, 0);
    transform: skew(0.85deg);
  }
  .60% {
    clip: rect(27px, 9999px, 86px, 0);
    transform: skew(0.58deg);
  }
  .65% {
    clip: rect(80px, 9999px, 77px, 0);
    transform: skew(0.07deg);
  }
  .70% {
    clip: rect(87px, 9999px, 64px, 0);
    transform: skew(0.52deg);
  }
  .75% {
    clip: rect(59px, 9999px, 4px, 0);
    transform: skew(0.8deg);
  }
  .80% {
    clip: rect(3px, 9999px, 58px, 0);
    transform: skew(0.43deg);
  }
  .85% {
    clip: rect(20px, 9999px, 76px, 0);
    transform: skew(0.78deg);
  }
  .90% {
    clip: rect(6px, 9999px, 44px, 0);
    transform: skew(0.94deg);
  }
  .95% {
    clip: rect(40px, 9999px, 19px, 0);
    transform: skew(0.38deg);
  }
  .100% {
    clip: rect(12px, 9999px, 2px, 0);
    transform: skew(0.19deg);
  }
}
@keyframes glitch-anim2 {
  .0% {
    clip: rect(86px, 9999px, 37px, 0);
    transform: skew(0.4deg);
  }
  .5% {
    clip: rect(66px, 9999px, 36px, 0);
    transform: skew(0.88deg);
  }
  .10% {
    clip: rect(70px, 9999px, 8px, 0);
    transform: skew(0.86deg);
  }
  .15% {
    clip: rect(92px, 9999px, 47px, 0);
    transform: skew(0.38deg);
  }
  .20% {
    clip: rect(22px, 9999px, 82px, 0);
    transform: skew(0.18deg);
  }
  .25% {
    clip: rect(42px, 9999px, 97px, 0);
    transform: skew(0.36deg);
  }
  .30% {
    clip: rect(79px, 9999px, 18px, 0);
    transform: skew(0.62deg);
  }
  .35% {
    clip: rect(46px, 9999px, 95px, 0);
    transform: skew(0.53deg);
  }
  .40% {
    clip: rect(73px, 9999px, 41px, 0);
    transform: skew(0.47deg);
  }
  .45% {
    clip: rect(54px, 9999px, 40px, 0);
    transform: skew(0.03deg);
  }
  .50% {
    clip: rect(66px, 9999px, 24px, 0);
    transform: skew(0.76deg);
  }
  .55% {
    clip: rect(2px, 9999px, 26px, 0);
    transform: skew(1deg);
  }
  .60% {
    clip: rect(87px, 9999px, 1px, 0);
    transform: skew(0.29deg);
  }
  .65% {
    clip: rect(30px, 9999px, 90px, 0);
    transform: skew(0.65deg);
  }
  .70% {
    clip: rect(41px, 9999px, 19px, 0);
    transform: skew(0.91deg);
  }
  .75% {
    clip: rect(53px, 9999px, 65px, 0);
    transform: skew(0.41deg);
  }
  .80% {
    clip: rect(69px, 9999px, 26px, 0);
    transform: skew(0.63deg);
  }
  .85% {
    clip: rect(81px, 9999px, 82px, 0);
    transform: skew(0.5deg);
  }
  .90% {
    clip: rect(15px, 9999px, 93px, 0);
    transform: skew(0.77deg);
  }
  .95% {
    clip: rect(24px, 9999px, 84px, 0);
    transform: skew(0.75deg);
  }
  .100% {
    clip: rect(80px, 9999px, 1px, 0);
    transform: skew(0.11deg);
  }
}
@keyframes glitch-skew {
  .0% {
    transform: skew(-2deg);
  }
  .10% {
    transform: skew(4deg);
  }
  .20% {
    transform: skew(-1deg);
  }
  .30% {
    transform: skew(-4deg);
  }
  .40% {
    transform: skew(-2deg);
  }
  .50% {
    transform: skew(5deg);
  }
  .60% {
    transform: skew(-3deg);
  }
  .70% {
    transform: skew(-3deg);
  }
  .80% {
    transform: skew(-3deg);
  }
  .90% {
    transform: skew(0deg);
  }
  .100% {
    transform: skew(1deg);
  }
}


/*nav-bar*/
.home-btn {
  top: 0;
  right: 0%;
}
.menu-toggle {
  top: 5rem;
  right: 0%;
  background-color: #2234ae;
  width: 40px;
  height: 30px;
  display: grid;
  justify-content: center;
  border-radius: 20%;
  padding: 4px 20px 8px 20px;
}
.fs {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1.5px 8px .5px 8px;
  border-bottom: 1px solid #fff;
  box-sizing: content-box;
  width: 0px;
}
.navigation {
  top: 50;
  left: 85vw;
  /*width: 100vw;*/
  display: none;
}

.nav-hover {
  margin-top: -2.5rem;
  transform: translateX(-10vw);
  background: linear-gradient(to right, #6a0101 30%, #0d0830 100%);
  right: 0;
}
.nav-hover span {
  right: -9vw;
  font-family: 'Oswald', 'Kaushan', sans-serif;
  color: white;
  display: none;
}
.nav-link:hover {
  transform: rotateY(-45deg);
}
.nav-link:hover + .nav-hover {
  animation: linkhover 1s forwards;
  /*transform: rotateX(0deg);*/
}
.nav-link:hover + .nav-hover .nav-text {
  animation: linktext 1s forwards;
  display: block;
}
@keyframes linkhover {
  0% {
    width: 0%;
  }
  100% {
    width: 280%;
  }
}
@keyframes linktext {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hover-svg {
  position: relative;
  fill: white;
  z-index: 10000;
}
.more-btn:hover {
  background-image: linear-gradient(to right, #240d3b 30%, #7b1414 100%);
}

.navigation div a {
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--color-black-1);
  transition: var(--speed-normal);
}

  /*footer container*/
.footer-container {
  background-color: gold;
  border-radius: 20px;
  margin-left: 70vw;
  position: fixed;
  font-weight: bold;
  box-shadow:
  5px 0px 15px darkred;
}
@media (max-width: 768px) {
  .home {
    background-color: #2234ae;
    background-image: linear-gradient(75deg, white 0%, gold 60%);    
  }
  .about-desc {
    color: black;
  }
  .about-head {
    color: blue;
  }
  /*about section*/
}
#about-sec {
    background-color: transparent;
    color: white;
    font-size: 2vw;
    display: none;
}

.about-sec .col-md-8 {
    animation: an 1s ease-out ;
    animation-delay: 2s;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

/*works*/
.works {
    background: transparent;
    height: 100vh;
}
#project {
    text-decoration: none !important;
}
#project:hover {
    text-decoration: none !important;
}
.proj-title:hover {
  background: linear-gradient(to right, #6a0101 30%, gold 100%);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;  
}
.project {
    border-top: 2px solid white;
}
.project:last-of-type {
    border-bottom: 2px solid white;
}
.project a {
    color: var(--color-white);
    font-weight: bolder;
}
button {
    border: none;
}
.project .desc {
    color: white;
    display: none;
}